In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ta

In [2]:
df = yf.download('ASIANPAINT.NS', start = '2020-01-01')
# df = df.reset_index()
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-01,1790.199951,1802.550049,1783.199951,1793.199951,1758.172852,397285
2020-01-02,1791.000000,1799.900024,1783.400024,1790.650024,1755.672729,411266
2020-01-03,1779.800049,1779.800049,1747.050049,1751.400024,1717.189331,1318628
2020-01-06,1737.949951,1738.000000,1694.000000,1707.150024,1673.803711,1871804
2020-01-07,1711.000000,1740.500000,1711.000000,1724.400024,1690.716919,1033650

In [3]:
def indicators(df):
    df['SMA_200'] = ta.trend.sma_indicator(df.Close, window=200)
    df['stoch_k'] = ta.momentum.stochrsi_k(df.Close, window=10)
    df.dropna(inplace = True)

In [4]:
indicators(df)

In [5]:
df

,Open,High,Low,Close,Adj Close,Volume,SMA_200,stoch_k
Date,,,,,,,,
2020-10-19,2079.949951,2079.949951,2056.500000,2070.100098,2039.622803,1338404,1783.999750,0.167947
2020-10-20,2077.899902,2131.800049,2067.350098,2118.500000,2087.310303,2377713,1785.626251,0.243464
2020-10-21,2130.000000,2143.850098,2081.250000,2114.300049,2083.172119,2895432,1787.244501,0.496302
2020-10-22,2114.199951,2116.850098,2076.800049,2099.899902,2068.984131,2755686,1788.987000,0.613763
2020-10-23,2113.500000,2129.399902,2096.000000,2120.250000,2089.034424,3070714,1791.052500,0.683762
...,...,...,...,...,...,...,...,...
2023-02-20,2845.000000,2852.000000,2812.100098,2825.550049,2825.550049,646218,3075.036488,0.959811
2023-02-21,2837.000000,2838.699951,2805.000000,2817.100098,2817.100098,631934,3074.040739,0.870796
2023-02-22,2809.949951,2813.949951,2780.000000,2795.949951,2795.949951,580270,3072.994238,0.620774
2023-02-23,2805.000000,2805.550049,2700.100098,2705.949951,2705.949951,1790570,3071.092238,0.326566
2023-02-24,2712.100098,2762.000000,2710.000000,2738.500000,2738.500000,1429040,3069.516488,0.190179

In [6]:
df['Buy'] = (df.Close > df.SMA_200) & (df.stoch_k < 0.05)

In [7]:
df['Buy'].value_counts()

False    542
True      45
Name: Buy, dtype: int64

In [8]:
buydates, selldates = [],[]
buys, sells = [], []
 
last_selldate = pd.to_datetime("2000-01-01")

for row in range(len(df)):
    if len(selldates) > 0:
        last_selldate = selldates[-1]
    if df.iloc[row].Buy:
        buyprice = df.iloc[row].Close * 0.97
        k = 1
        while True:
            if buyprice >= df.iloc[row + k].Low
            buydate = df.iloc[row + k].name 
            break
        elif k > 10:
            break
        else:
            k += 1

SyntaxError: invalid syntax (<ipython-input-8-a137ac56111e>, line 13)